<template name="Moto_sidebarMenu">
    <li class="{{isActiveRoute name='moto.home'}}">
        <a href="{{pathFor 'moto.home'}}">
            <i class="fa fa-home"></i> <span>{{_ "moto.sidebarMenu.home"}}</span>
        </a>
    </li>

    <!--Data-->
    {{#if isInRole 'data-insert,data-update,data-remove' 'Moto'}}
        <li class="header"><i class="fa fa-database"></i> DATA</li>
        <li class="{{isActiveRoute name='moto.customer'}}">
            <a href="{{pathFor 'moto.customer'}}">
                <i class="fa fa-users"></i> <span>Customer</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moto.order'}}">
            <a href="{{pathFor 'moto.order'}}">
                <i class="fa fa-shopping-cart"></i> <span>Order</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='moto.orderVip'}}">
            <a href="{{pathFor 'moto.orderVip'}}">
                <i class="fa fa-trophy"></i> <span>Order VIP</span>
            </a>
        </li>
        <li class="{{isActiveRoute name='core.exchange'}}">
            <a href="{{pathFor 'core.exchange'}}">
                <i class="fa fa-exchange"></i> <span>{{_ "core.sidebarMenu.exchange"}}</span>
            </a>
        </li>
    {{/if}}

    <!--Report-->
    {{#if isInRole 'reporter' 'Moto'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-file-text-o"></i> <span>REPORT</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li class="{{isActiveRoute name='moto.itemListReport'}}">
                    <a href="{{pathFor 'moto.itemListReport'}}">
                        <i class="fa fa-file-o"></i> <span>Item List</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.invoiceReport'}}">
                    <a href="{{pathFor 'moto.invoiceReport'}}">
                        <i class="fa fa-file-o"></i> <span>Invoice</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.invoiceVipReport'}}">
                    <a href="{{pathFor 'moto.invoiceVipReport'}}">
                        <i class="fa fa-file-o"></i> <span>Invoice Vip</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.orderReport'}}">
                    <a href="{{pathFor 'moto.orderReport'}}">
                        <i class="fa fa-file-o"></i> <span>Order</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}

    <!--Settings-->
    {{#if isInRole 'setting' 'Moto'}}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i> <span>SETTING</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li class="{{isActiveRoute name='moto.item'}}">
                    <a href="{{pathFor 'moto.item'}}">
                        <i class="fa fa-archive"></i> <span>{{_ "moto.sidebarMenu.item"}}</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.employee'}}">
                    <a href="{{pathFor 'moto.employee'}}">
                        <i class="fa fa-male"></i> <span>Employee</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.supplier'}}">
                    <a href="{{pathFor 'moto.supplier'}}">
                        <i class="fa fa-truck"></i> <span>Supplier</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.location'}}">
                    <a href="{{pathFor 'moto.location'}}">
                        <i class="fa fa-sitemap"></i> <span>Location</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.lookupValue'}}">
                    <a href="{{pathFor 'moto.lookupValue'}}">
                        <i class="fa fa-cog"></i> <span>Lookup Value</span>
                    </a>
                </li>
                <li class="{{isActiveRoute name='moto.unit'}}">
                    <a href="{{pathFor 'moto.unit'}}">
                        <i class="fa fa-cubes"></i> <span>Unit</span>
                    </a>
                </li>
            </ul>
        </li>
    {{/if}}
</template>
